<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/registrarse.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulario de Registro</h1>
    <div class="forma">
        <form name="myForm" action="getRegistrarse.php" method="POST">
            <!-- CAMPO NOMBRE -->
            <input type="text" name="nombrecompleto" placeholder="Escribe tu nombre completo"/> 
            

            <!-- CAMPO EMAIL -->
            <input type="email" name="email" placeholder="Escribe tu correo" /> 
           

            <!-- CAMPO PASSWORD -->
            <input type="password" name="password" placeholder="Escribe tu password"/> 
            

            <!-- CAMPO Telefono -->
            <input type="tel" name="tel" placeholder="Escribe tu telefono" /> 
           
             <!-- CAMPO Puesto -->    
             <input type="text" name="puesto" placeholder="Escribe tu puesto"/> 
            
        

            <button type="submit" class="btn btn-primary btn-block btn-large">Aceptar</button>
        </form>
        
    </div>

   <!-- https://www.youtube.com/watch?v=MMHUxT1pSMg-->
</body>
</html>